@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*MY ATTEMPT, almost correct 
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

.header {
  display: flex;
  margin-bottom: auto;
  padding:8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #eeeeee;
  padding-left:8px;
}

.left-links {
  margin-right:auto;
}

.right-links {
  margin-left:auto;
}

a {
  text-decoration:none;
  color:grey;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:8px;
}

li {
  display: inline;
}

button {
  padding:8px;
}

*/

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* SOLUTION */

body {
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

button {
  padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
  margin-top: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}